<td class='code'>{{name}}</td>
<td>

  {{#if defaultValue}}
    <input class='parameter' minlength='0' name='{{name}}' placeholder='' type='text' value='{{defaultValue}}'/>
  {{else}}
    <input class='parameter' minlength='0' name='{{name}}' placeholder='' type='text' value=''/>
  {{/if}}

</td>
<td>{{{description}}}</td>
<td>{{{paramType}}}</td>
<td>
	<span class="model-signature"></span>
</td>

